* {
    margin: 0px;
    padding: 0px;
    font-family: "Kanit", sans-serif;
}


/* main container those hold left and right both  container*/
.container {
    background-color: black;
    gap: 6px;
    height: 90vh;
}

/* left box */
.left {
    width: 24vw;
}

.left .home {
    margin-bottom: 5px;
}

/* spotify logo img  */
.left .logo img {
    width: 120px;
}


/* home and search icon  */
.left .home ul li {
    list-style: none;
    width: 100px;
    gap: 20px;
    display: flex;
}

/* home and search svg  */
.left ul li img {
    height: 30px;
}


/* second div container those hold playlist library */
.lib-container .plus-icon {
    height: 6vh;
}

.lib-container {
    height: 65vh
}

/* those div's which contains playlist  and podcasts buttons  */
.overflow-scroll {
    height: 30vh;
    overflow: auto;
}


/* playlist library scroll bar  */
.overflow-scroll div {
    background-color: rgba(29, 24, 24, 0.878);
}

/* playlist and podcasts buttons */
.playlist-btn {
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    color: black;
    border: none;
    font-weight: 700;
    width: 9vw;
}


/* left side container footer links  */
.left .links {
    height: 15vh;

    ul {
        flex-wrap: wrap;
        align-content: space-between;
    }

    li {
        list-style: none;
        margin-top: 10px;

    }

    a {
        font-size: small;
        padding: 10px;
        color: grey;
    }
}

/* left container lang btn at the last  */
.left .lang-btn {
    align-items: center;
    display: flex;
    border-radius: 25px;
    padding: 6px 18px;
    border: 1px solid gray;
    background-color: transparent;
}

/* right box  */
.right {
    width: 76vw;
    overflow: auto;
}


.artist-list {
    height: 5vh;
}

/* navbar in right container */
.navbar {
    padding: 7px 25px;
    position: sticky;
    /* position: -webkit-sticky; */
    top: 0;
    /* required */
    z-index: 10;
}

.navbar .nav-btn span img {
    cursor: pointer;
    margin-right: 10px;
    padding: 7px;
    border-radius: 50%;
    background-color: black;
}

.navbar .sign-up {
    color: gray;
}

.navbar .sign-up:hover {
    color: white;
}

.navbar .sign-in {
    background-color: white;
    color: black;
}

.navbar .sign-in:hover {
    background-color: rgb(235, 228, 213);
}


/* main heros card container section  */
section.content {
    background-color: rgb(27, 27, 27);
}

/* main  card css */
.hero .main-box {
    cursor: pointer;
    border-radius: 7px;
    padding: 11px;
    width: 10vw;
}

.hero .main-box:hover {
    background-color: rgb(18, 18, 17);
}

.hero .main-box:hover .play-btn {
    display: block;

}

.hero .main-box .img-box {
    position: relative;
    margin-bottom: 7px;
}


.hero .main-box .img-box img {
    width: 10vw;
    border-radius: 50%;
}

.hero .main-box .play-btn {
    width: 3vw;
    height: 6vh;
    background-color: green;
    position: absolute;
    right: 11px;
    top: 106px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: none;
}

.hero .main-box .play-btn img {
    width: 30px;
    position: relative;
    top: 3px;
}


h1 a:hover {
    text-decoration: underline;
}

.hero-info p {
    color: grey;
    font-size: smaller;
    font-weight: 700;
}

h4 {
    font-weight: 200;
    padding-bottom: 3px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}


/* albums container css */
.albums-container .hero .main-box img {
    border-radius: 7px;
}


/* radio container  */
.radio-container .hero .main-box img {
    border-radius: 7px;
}

/* right container community section at the end  */
.right .community div{
    width: 14vw;
}

.right .community div p{
    padding: 5px 0px;
}

.right .community button{
    background-color: rgb(17, 16, 16);
    border-radius: 50%;
   height: 40px;
   width: 40px ;
    border: none;
    margin: 0px 5px;
    cursor: pointer;
}

/* right side container footer */
.right .right-container-footer{
    padding: 40px 0px;
    border-top: 1px solid grey;
    margin-top: 40px;
}

/* body footer */
.footer {
    background-color: #af2896;
    height: 66px;
    padding: 0px 20px;
}