
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: "Kanit", sans-serif;
}


/* main container those hold left and right both  container*/
.container {
    background-color: black;
    gap: 6px;
    height: 90vh;
}

/* left box */
.left {
    width: 24vw;
}

.left .home{
    margin-bottom: 5px;
}

/* spotify logo img  */
.left .logo img{
    width: 120px;
}


/* home and search icon  */
.left .home ul li{
    list-style: none;
    width: 100px;
    gap: 20px;
    display: flex;
}

.left ul li img{
    height: 30px;
}


/* second div container those hold playlist library */
.lib-container .plus-icon{
 height: 6vh;
 border: 2px solid;
}


/* those div's which contains playlist  and podcasts buttons  */
.overflow-scroll {
    height: 25vh;
    overflow: auto;
}


/* playlist library scroll bar  */
.overflow-scroll div{
background-color:rgba(39, 31, 31, 0.878);
}

/* playlist and podcasts buttons */
.playlist-btn
{
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    color:black;
    border: none;
}


/* left side container footer links  */
.left .links ul 
{
    flex-wrap: wrap;
    height: 10vh;
    justify-content: space-around;
li{
  
list-style: none;
}
a{
    font-size: smaller;
    color: grey;
}
}




/* right box  */
.right {
    width: 76vw;
    overflow: auto;
}


.artist-list{
    height: 5vh;  
}

.navbar{
    padding: 7px 25px;
    position:sticky;
  /* position: -webkit-sticky; */
  top: 0; /* required */
  z-index: 10;
}
section.content{
    background-color: rgb(27, 27, 27);
    
}
.navbar .nav-btn span{
    padding:1px 9px;
    border-radius: 100%;
    font-size: 2rem;
    background-color: black;
}

.navbar .sign-up {
color: gray;
}
.navbar .sign-up:hover {
color:white;
}

.navbar .sign-in{
    background-color: white;
    color: black;
}
.navbar .sign-in:hover{
    background-color: rgb(235, 228, 213);
}




.hero .main-box{
  cursor: pointer;
  border-radius: 7px;
  padding: 11px;
  width: 10vw;
}

.hero .main-box:hover{
    background-color: rgb(18, 18, 17);
}

.hero .main-box:hover .play-btn{
display: block;
   
}

.hero .main-box .img-box{
    position: relative;
    margin-bottom: 7px;
}


.hero .main-box img{
    width: 10vw;
    border-radius: 50%;
}

.hero .main-box  .play-btn{
width: 3vw;
height: 6vh;
background-color: green;
position: absolute;
right: 11px;
top: 106px;
border: none;
border-radius: 50%;
cursor: pointer;
display: none ;
}

h1 a:hover{
text-decoration: underline;
}

.hero-info p{
    color: grey;
    font-size: smaller;
    font-weight: 700;
}

h4{
    font-weight: 200; 
    padding-bottom:3px ;
}

a{
text-decoration: none;
}


.albums-container .hero .main-box img{
    border-radius: 7px;
}