/* border radius  */
.radius {
    border-radius: 7px;
}

/* display flex  */
.flex {
    display: flex;
}

/* justify content  */
.justify {
    justify-content: space-between;
}

/* padding */
.p1 {
    padding: 5px;
}

.p2{
    padding: 13px;
}

/* margin */
.m1 {
    margin: 7px;
}

.m2{
margin: 10px;
}


/* background color  */
.bg-grey {
    background-color: rgb(17, 16, 16);
}

/* align-items-center */
.align{
    align-items: center;
}

/* border */
.border{
    border: 2px solid rgb(238, 235, 238);
}

/* font color black */
.font-black{
    color: black;
}

/* background color black */
.bg-black{
    background-color: rgba(1, 2, 2);
}

/* button padding and border radius */
.btn{
    border: none;
    padding:16px 35px;
    border-radius: 50px;
    font-size: 1.0rem;
    font-weight: 600;
    cursor: pointer;
}


/*  cursor pointer */
.cursor{
    cursor: pointer;
}


.content-padding{
    margin-bottom: 50px;
}
